.form-div {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 0.2rem;
}

.form-component-div {
  background-color: var(--yellow);
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  padding: 0.5rem;  
}

.form-button-div Button {
  color: rgb(22, 20, 19);
  background-color: var(--green);
  margin-top: 0.4rem;
  width: 100%;
  cursor: pointer;
}
.form-button-div Button:focus {
  background-color: var(--green);
}
.textfield {
  padding:2rem;
}
@media screen and (max-width: 600px) {
  .form-div {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
}
